{% extends 'base.html' %}

{% block titulo %} Administração {% endblock titulo %}

{% block corpo %}
<div class="container">

    {% include 'blocos/mensagens.html' %}
    
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-6 dashboard-box" id="dashboard-lastdays">
                    <h4>Cadastros nos últimos 30 dias</h4>
                    <span><h4>{{ ultimos_cadastros }}</h4></span>
                </div>
                <div class="col-md-6 dashboard-box" id="dashboard-done">
                    <h4>Total de cadastros</h4>
                    <span><h4>{{ quantidade_cadastro_total.count }}</h4></span>
                </div>
        </div>
    </div>
    <br>
    <div class="col">

        <h1 align="center">Listagem de E-mails</h1>

        <table class="table table-hover">
            <thead>
            <tr>
               <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefone</th>
                <th scope="col">Cadastrado em:</th>

            </tr>
            </thead>
            <tbody>

            {% for contato in page.object_list %}
                <tr>
                    <th scope="row">{{ contato.id }}</th>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.email }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td>{{ contato.data_cadastro }}</td>
                </tr>
            {% endfor %}

            </tbody>
            
        </table>

        <div class="pagination">
            <ul class="pagination">
                {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.previous_page_number }}">&lsaquo;</a>
                </li>
                {% endif %}
        
                {% for num in page.paginator.page_range %}
        
                {% if page.number == num %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% elif num > page.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                </li>
                {% endif %}
        
                {% endfor %}
        
                {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}">&rsaquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.paginator.num_pages }}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>   


{% endblock corpo %}